.ANDRed {
    background-color: #D82036;
    border: #D82036;
}

h1 {
    color: #fff;
}

#welcomePageBtn:hover {
    background-color: #D82036;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
}