@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1542601906990-b4d3fb778b09?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2813&q=80");;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    padding-top: 5%;
    height: 100%;
    min-height: 100vh;
    color: white;
    font-family: 'Poppins', sans-serif;
}

#pledgeContainer {
    display: flex;
    justify-content: space-between;
}



input {
    color: black;
}

.btnContainer {
    width: 100vw;
}

.btn {
    margin-left: 0.3rem;
    width: 49%;
    font-size: 1.3rem;

}

button:hover {
    background-color: black;
}

button:focus {
    background-color: black;
}

label {
    font-size: 1.5rem;
}
.label-text {
    color: #fff;
}

.coffeePledgeLabel {
    color: white;
}
.ANDRed {
    background-color: #D82036;
    border: #D82036;
}

h1 {
    color: #fff;
}

#welcomePageBtn:hover {
    background-color: #D82036;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

header img {
    height: 70px;
}

button {
    width: 100%;
}

form {
    margin-top: 0%;
    display: flex;
    flex-direction: column;
}

#form-container {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
}


#pie-chart {
    width: 30vw;
    height: 100%;
}



@media(max-width: 500px) {
    #pie-chart {
            width: 80vw;
        }

   #form-container {
    width: 100%;
    margin-top: 2.5rem;
   }

   #form-container label {
    font-size: 1.25rem;
   }

   #stats-page {
    margin-top: 3rem;
   }

}


#dishwasherImg {
    filter: invert(42%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(119%);
    width: 15%;
}


#dishwasherX {
    font-size: 3rem;
}


.statNumber {
    font-size: 3rem;
    
}

button:focus{
    background-color: black;
}


#submitBtn {
    width: 100%;
}

button:hover {
    background-color: black !important;
}

button:disabled {
    background-color: rgba(81, 81, 81, 0.5) !important;
    width: 100%;
    color: white !important;
}


select {
    color: black;
}

.alert-message {
    padding: 10px;
    background-color: rgb(255, 176, 176);
    color: rgb(205, 0, 0);
    border-radius: 10px;
    margin-top: 30px;
    text-align: center;
}

#featured-stat {
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
    border-radius: 20px;
    padding: 20px;
}

#featured-stat h1 {
    color: black;
}